{% extends "blogs/base.html"%} 

{%block content%}

<p>Edit blog:</p>

<form action= "{% url 'приложение:редактированние_блога' BLOG.id  %}" method="post"> <!--определяется форма HTML. 
Аргумент action сообщает серверу, куда передавать данные, отправленные формой; в данном случае данные возвращаются функции представления edit_entry(). 
Аргумент method приказывает браузеру отправить данные в запросе типа POST.-->
	{% csrf_token%}
	{{form.as_p}}
	<button name="submit">save blog</button> <!--создает кнопку-->
 </form>


 {% endblock content%}